@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,700");
@font-face {
  font-family: "Banny Bold Round";
  src: url("../fonts/Banny-BoldRound.otf");
}
:root {
  --accent-color: #E8C300;
  --text-color: #000;
  --form-color: #E5E5E5;
  --hover-color: #b2970e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  color: var(--text-color);
  position: relative;
}
body._lock {
  overflow: hidden; /*чтобы при открытии меню мы не смогли скролить сайт*/
}

ul {
  list-style: none;
}

.title {
  font-family: "Banny Bold Round";
  text-transform: uppercase;
}

.subtitle {
  font-weight: 700;
  font-size: 18px;
}

.text {
  font-weight: 400;
  font-size: 14px;
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  transition: color 0.2s;
}

[class*=__container] {
  max-width: 1310px;
  margin: 0px auto;
  padding: 0 15px;
}

/*-------------------------------Header-------------------------------*/
.header {
  height: 100vh;
  background: url("../img/header-bg.png") no-repeat;
  background-size: 100% auto;
  margin-bottom: 94px;
}
.header__container {
  position: relative;
  /*&::before{
      content: '';
      width: 530px;
      height: 1px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      position: absolute;
      top: 100px;
      right: 0px;
  }
  &::after{
      content: '';
      width: 530px;
      height: 1px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      position: absolute;
      top: 100px;
      left: 0px;
  }*/
}
.header__navigation {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
}
.header__menu:first-child {
  margin-right: 390px;
}
.header__logo {
  position: absolute;
  top: 25px;
  right: calc(50% - 75px);
}
.menu__body {
  display: flex;
}
.menu__item:not(:last-child) {
  margin-right: 88px;
}
.menu__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  transition: color 0.2s;
}
.menu__link:hover {
  color: #d9d4d4;
}

.main {
  padding-top: 340px;
  text-align: center;
  position: relative;
  /* ::after{
       content: '';
       width: 60px;
       height: 5px;
       display: block;
       background-color: var(--accent-color);
       position: absolute;
       top:480px;
       right: calc(50% - 30px);
       border-radius: 40px;
   }*/
}
.main__subtitle {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
}
.main__title {
  color: #fff;
  font-size: 96px;
  margin-bottom: 36px;
}
.main__workTime {
  position: absolute;
  left: 0;
  top: 417px;
}
.main__workTime span {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #FFFFFF;
}
.socials {
  position: absolute;
  right: 0;
  top: 340px;
  color: #fff;
}
.socials__icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: scale 0.4s;
}
.socials__icon:hover svg {
  transform: scale(1.3);
}

.buttons {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.buttons__book {
  background-color: var(--accent-color);
  padding: 26px 62px;
  border: 0px;
}
.buttons__book:hover {
  background-color: var(--hover-color);
}
.buttons__exploer {
  border: 1px solid #fff;
  padding: 26px 73px;
}

.vertical_lineL {
  width: 1px;
  height: calc(100vh - 100px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 102px;
  left: 215px;
}

.vertical_lineR {
  width: 1px;
  height: calc(100vh - 100px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 102px;
  right: 215px;
}

.horizontal_lineR {
  content: "";
  width: 530px;
  height: 1px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 100px;
  right: 0px;
}

.horizontal_lineL {
  width: 530px;
  height: 1px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 100px;
  left: 0px;
}

/*-------------------------------/Header-------------------------------*/
/*-------------------------------About-------------------------------*/
.about__container {
  display: flex;
  align-items: center;
}
.about__content {
  text-align: center;
  max-width: 600px;
}
.about__title {
  font-size: 34px;
}
.about__subtitle {
  margin-bottom: 30px;
}
/*-------------------------------/About-------------------------------*//*# sourceMappingURL=style.css.map */