@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,700");
@font-face {
  font-family: "Banny Bold Round";
  src: url("../fonts/Banny-BoldRound.otf");
}
:root {
  --accent-color: #E8C300;
  --text-color: #000;
  --form-color: #E5E5E5;
  --hover-color: #b2970e;
  --arrow-color: #8c8c8c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  color: var(--text-color);
  position: relative;
}
body._lock {
  overflow: hidden; /*чтобы при открытии меню мы не смогли скролить сайт*/
}

ul {
  list-style: none;
}

.title {
  font-family: "Banny Bold Round";
  text-transform: uppercase;
}

.subtitle {
  font-weight: 700;
  font-size: 18px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  border: 0px;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  transition: color 0.2s;
}

.decor_R {
  display: block;
  width: 250px;
  height: 250px;
  border: 20px solid var(--accent-color);
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: calc(50% - 125px);
}

.decor_L {
  display: block;
  width: 250px;
  height: 250px;
  border: 20px solid var(--accent-color);
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: calc(50% - 125px);
}

[class*=__container] {
  max-width: 1310px;
  margin: 0px auto;
  padding: 0 15px;
}

[class*=__content] {
  text-align: center;
  max-width: 600px;
  align-self: center;
}

input, textarea {
  height: 60px;
  border-radius: 5px;
  background-color: var(--form-color);
  border: none;
  padding-left: 20px;
  outline: none;
  color: rgba(51, 51, 51, 0.5);
}
input:focus, input -active, textarea:focus, textarea -active {
  border: 1px solid rgba(176, 198, 225, 0.6);
  box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
}

/*-------------------------------Header-------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.2s linear;
  padding-bottom: 94px;
  z-index: 999;
}
.header.__active {
  background-color: black;
  padding-top: 15px;
  height: 50px;
}
.header__navigation {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu:first-child {
  margin-right: 390px;
}

.menu__body {
  display: flex;
}
.menu__item:not(:last-child) {
  margin-right: 88px;
}
.menu__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  transition: color 0.2s;
}
.menu__link:hover {
  color: #d9d4d4;
}

/*-------------------------------/Header-------------------------------*/
/*-------------------------------Main-------------------------------*/
.main {
  height: 100vh;
  background: url("../img/header-bg.png");
  background-size: 100% auto;
  margin-bottom: 94px;
}
.main__container {
  padding-top: 340px;
  text-align: center;
  position: relative;
  padding-top: 340px;
  text-align: center;
}
.main__logo {
  position: absolute;
  top: 25px;
  right: calc(50% - 75px);
}
.main__subtitle {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
}
.main__title {
  color: #fff;
  font-size: 96px;
  margin-bottom: 36px;
}
.main__workTime {
  position: absolute;
  left: 0;
  top: 417px;
}
.main__workTime span {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #FFFFFF;
}
.horizontal_lineL {
  width: 530px;
  height: 1px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 100px;
  left: 0px;
}
.horizontal_lineR {
  content: "";
  width: 530px;
  height: 1px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 100px;
  right: 0px;
}

.vertical_lineL {
  width: 1px;
  height: calc(100vh - 100px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 102px;
  left: 215px;
}
.vertical_lineR {
  width: 1px;
  height: calc(100vh - 100px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 102px;
  right: 215px;
}

.buttons {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.buttons__book {
  background-color: var(--accent-color);
  padding: 26px 62px;
  border: 0px;
}
.buttons__book:hover {
  background-color: var(--hover-color);
}
.buttons__exploer {
  border: 1px solid #fff;
  padding: 26px 73px;
}

.socials {
  position: absolute;
  right: 0;
  top: 340px;
  color: #fff;
}
.socials__icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: scale 0.4s;
}
.socials__icon:hover svg {
  transform: scale(1.3);
}

/*-------------------------------/Main-------------------------------*/
/*-------------------------------About-------------------------------*/
.about {
  margin-bottom: 106px;
}
.about__container {
  display: flex;
  gap: 80px;
  padding: 100px 0px;
  position: relative;
}
.about__title {
  font-size: 34px;
  padding-bottom: 22px;
  position: relative;
  margin-bottom: 21px;
}
.about__title::after {
  content: "";
  width: 60px;
  height: 5px;
  display: block;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0px;
  right: calc(50% - 30px);
  border-radius: 40px;
}
.about__subtitle {
  margin-bottom: 30px;
}
.about__img {
  align-self: flex-start;
  padding-left: 20px;
}
.about__img img {
  box-shadow: 10px 10px 19px 0px rgba(34, 60, 80, 0.18);
}

/*-------------------------------/About-------------------------------*/
/*-------------------------------Master-------------------------------*/
.special {
  margin-bottom: 100px;
  height: 675px;
}
.special__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  padding: 100px 0px;
  justify-items: end;
  position: relative;
}
.special__content {
  right: 0px;
}
.special__title {
  font-size: 34px;
  padding-bottom: 22px;
  position: relative;
  margin-bottom: 21px;
  color: #fff;
}
.special__title::after {
  content: "";
  width: 60px;
  height: 5px;
  display: block;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0px;
  right: calc(50% - 30px);
  border-radius: 40px;
}
.special__subtitle {
  color: #fff;
  margin-bottom: 30px;
}
.special__text {
  color: #fff;
}
.special__img img {
  box-shadow: 10px 10px 19px 0px rgba(34, 60, 80, 0.18);
}

.master-bg {
  background: url("../img/specialty's-bg.png");
}

.dish-bg {
  background: url("../img/dish-bg.png");
}

/*-------------------------------/Master-------------------------------*/
/*-------------------------------Book-------------------------------*/
.book {
  margin-bottom: 100px;
  height: 675px;
}
.book-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.book-form input {
  width: 277px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--form-color);
  border: none;
  padding-left: 20px;
  outline: none;
  color: rgba(51, 51, 51, 0.5);
}
.book-form input:focus, .book-form input -active {
  border: 1px solid rgba(176, 198, 225, 0.6);
  box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
}
.book-form__btn {
  background-color: var(--accent-color);
  padding: 21px;
  grid-column: span 2;
  transition: background-color 0.2s;
}
.book-form__btn:hover {
  background-color: var(--hover-color);
}

.dropdown {
  position: relative;
}
.dropdown__button {
  cursor: pointer;
  display: block;
  width: 100%;
  border-radius: 5px;
  background-color: var(--form-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: rgba(51, 51, 51, 0.5);
  border: none;
  text-align: left;
  padding-left: 20px;
  padding-right: 57px;
  height: 50px;
}
.dropdown__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%); /*чтобы подвинуть на половину высоты стрелки*/
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10.4px 6px 0 6px;
  border-color: #8c8c8c transparent transparent transparent;
  pointer-events: none;
}
.dropdown__button:focus, .dropdown__button -active {
  border: 1px solid rgba(176, 198, 225, 0.6);
  box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
}
.dropdown__button-choose {
  background-color: rgb(232, 240, 254);
  color: black;
}
.dropdown__list {
  background-color: var(--form-color);
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
  border: 1px solid rgba(176, 198, 225, 0.6);
  overflow: hidden; /*чтобы контент не выходил за его пределы*/
  border-radius: 5px;
  width: 100%;
  position: absolute;
  top: 58px;
  left: 0;
  z-index: 4; /*чтобы был выше остальных элементов*/
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.dropdown__list-visible {
  display: block;
}
.dropdown__list-item {
  margin: 5px auto;
  cursor: pointer;
}
.dropdown__list-item:hover {
  background-color: rgba(120, 117, 117, 0.2);
}
.dropdown__input-hidden {
  display: none;
}

/*-------------------------------/Book-------------------------------*/
/*-------------------------------Menu-------------------------------*/
.menu {
  margin-bottom: 100px;
}
.menu__title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 22px;
  padding-bottom: 22px;
  position: relative;
}
.menu__title::after {
  content: "";
  width: 60px;
  height: 5px;
  display: block;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0px;
  right: calc(50% - 30px);
  border-radius: 40px;
}
.menu__subtitle {
  font-size: 18px;
  text-align: center;
  max-width: 565px;
  margin: 0px auto 50px auto;
}

.tabs-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.tabs-nav__item {
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  width: 50px;
  width: 130px;
  text-align: center;
}
.tabs-nav__item:not(:last-child) {
  border-right: 1px solid rgba(51, 51, 51, 0.2);
}

.tab {
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 87px;
  display: none;
}
.tab-active {
  display: grid;
}

.menuPos {
  display: flex;
  align-items: start;
  height: 66px;
  width: 363px;
  gap: 20px;
}
.menuPos__name {
  font-family: "Banny";
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;
}
.menuPos__desc {
  font-weight: 400;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.5);
  text-align: left;
}
.menuPos__price {
  font-family: "Banny";
  font-weight: 700;
  font-size: 18px;
}

/*-------------------------------/Menu-------------------------------*/
/* --------------------Events------------------- */
.events {
  background: url("../img/specialty's-bg.png");
}
.events__container {
  display: flex;
  justify-content: space-between;
  padding: 100px 0px;
}
.events__card {
  width: 600px;
}

.events-card {
  position: relative;
}
.events-card__container {
  position: relative;
  max-width: 475px;
  padding: 0;
}
.events-card__title {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-family: "Banny";
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 18px;
}

.top-title {
  top: 0;
}

.bottom-title {
  bottom: 0;
}

.L_Card {
  top: 0px;
  right: 0px;
}

.R_Card {
  top: 0px;
  left: 0px;
}

/* -------------------/Events----------------- */
/* -------------------Gallery----------------- */
.gallery {
  margin-bottom: 100px;
}
.gallery__wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.gallery__list {
  display: flex;
}
/* -------------------/Gallery----------------- */
/* -------------------Contact----------------- */
.contact {
  margin-bottom: 100px;
}
.contact__title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 36px;
}
.contact__subtitle {
  text-align: center;
  max-width: 565px;
  margin: 0 auto 50px auto;
}
.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 11px 10px;
}
.contact-form__message {
  grid-column: span 3;
  height: 120px;
  padding-top: 21px;
  resize: none;
}
.contact-form__btn {
  background-color: var(--accent-color);
  padding: 21px;
  grid-column: span 3;
  transition: background-color 0.2s;
}
.contact-form__btn:hover {
  background-color: var(--hover-color);
}

/* -------------------/Contact----------------- */
.footer {
  background-color: #000;
}
.footer__text {
  color: rgba(255, 255, 255, 0.5);
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */