@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,700");

@font-face {
    font-family: "Banny Bold Round";
    src: url("../fonts/Banny-BoldRound.otf");
}
:root{
    --accent-color: #E8C300;
    --text-color: #000;
    --form-color: #E5E5E5;
    --hover-color: #b2970e;
    --arrow-color: #8c8c8c;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans";
    color: var(--text-color);
    position: relative;
    &._lock{
        overflow: hidden;/*чтобы при открытии меню мы не смогли скролить сайт*/
    }
}


  


ul{
    list-style: none;
}
.title{
    font-family: 'Banny Bold Round';
    text-transform: uppercase;
}
.subtitle{
    font-weight: 700;
    font-size: 18px;
}
.text{
    font-weight: 400;
    font-size: 14px;
}
.btn{
    cursor: pointer;
    border-radius: 5px;
    border:0px;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    transition: color .2s;
}
.decor_R{
    display: block;
    width: 250px;
    height: 250px;
    border: 20px solid var(--accent-color);
    border-radius: 5px;
    position: absolute;
    right: 0;
    top:calc(50% - 125px);
}
.decor_L{
    display: block;
    width: 250px;
    height: 250px;
    border: 20px solid var(--accent-color);
    border-radius: 5px;
    position: absolute;
    left: 0;
    top:calc(50% - 125px);
}
[class*="__container"]{
    max-width: 1310px; 
    margin: 0px auto;
    padding: 0 15px;
}

[class*="__content"]{
    text-align: center;
    max-width: 600px;
    align-self: center;
}

/*-------------------------------Header-------------------------------*/
.header {
		// .header__container
        height: 100vh;
        background: url("../img/header-bg.png");
        background-size: 100% auto;

        margin-bottom: 94px;
		&__container {
            position: relative;
            /*&::before{
                content: '';
                width: 530px;
                height: 1px;
                border: 1px solid rgba(255, 255, 255, 0.2);
                position: absolute;
                top: 100px;
                right: 0px;
            }
            &::after{
                content: '';
                width: 530px;
                height: 1px;
                border: 1px solid rgba(255, 255, 255, 0.2);
                position: absolute;
                top: 100px;
                left: 0px;
            }*/
		}
		// .header__navigation
		&__navigation {
            padding-top: 40px;
            padding-bottom: 40px;
            //gap:220px;
            display: flex;
            justify-content: space-between;
            position: fixed;
            z-index: 999;
            &._active{
                background-color: black;
            }
            
		}
		// .header__menu
		&__menu {
            &:first-child{
                margin-right:390px;
            }
		}
		// .header__logo
		&__logo {
            position: absolute;
            top: 25px;
            right: calc(50% - 75px);
		}
		// .header__main
		&__main {
		}
}
.menu {
		// .menu__body
		&__body {
            display: flex;
		}
		// .menu__item
		&__item {
            &:not(:last-child){
                margin-right: 88px;
            }    
    }
		// .menu__link
		&__link {
            text-decoration: none;
            font-weight: 700;
            font-size: 12px;
            color: #fff;
            text-transform: uppercase;
            transition: color .2s;
            &:hover{
                color: #d9d4d4;
            }
		}
}
.menu-icons {
}
.main {
		// .main__subtitle
        padding-top: 340px;
        text-align: center;
        position: relative;
       /* ::after{
            content: '';
            width: 60px;
            height: 5px;
            display: block;
            background-color: var(--accent-color);
            position: absolute;
            top:480px;
            right: calc(50% - 30px);
            border-radius: 40px;
        }*/
		&__subtitle {
            color: #fff;
            font-weight: 700;
            font-size: 12px;
		}
		// .main__title
		&__title {
            color: #fff;
            font-size: 96px;
            margin-bottom: 36px;
		}
		// .main__workTime
		&__workTime {
            position: absolute;
            left: 0;
            top: 417px;
            span {
                font-weight: 700;
                font-size: 12px;
                line-height: 12px;
                text-align: center;
                color: #FFFFFF;
            }

		}
		// .main__buttons
		&__buttons {
		}
		// .main__socials
		&__socials {
		}
}
.socials {
    position: absolute;
    right: 0;
    top:340px;
    color: #fff;

    &__icon{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: scale .4s;
        &:hover{
            svg{
                transform: scale(1.3);
            }
        }

    }
}
.buttons {
        display: flex;
        gap:40px;
        justify-content: center;
		&__book {
            background-color: var(--accent-color);
            padding: 26px 62px;
            border: 0px;
            &:hover{
                background-color: var(--hover-color);
            }
		}
		// .buttons__exploer
		&__exploer {
            border: 1px solid #fff;
            padding: 26px 73px;
		}
}

.vertical_lineL{
    width: 1px;
    height: calc(100vh - 100px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 102px;
    left: 215px;
}

.vertical_lineR{
    width: 1px;
    height: calc(100vh - 100px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 102px;
    right: 215px;
}
.horizontal_lineR{
    content: '';
    width: 530px;
    height: 1px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 100px;
    right: 0px;
}
.horizontal_lineL{
    width: 530px;
    height: 1px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 100px;
    left: 0px;
}
/*-------------------------------/Header-------------------------------*/




/*-------------------------------About-------------------------------*/

.about {
    // .about__container
    margin-bottom: 106px;
    
    &__container {
        display: flex;
        gap:80px;
        padding: 100px 0px;
        position: relative;
    }
    // .about__content
    &__content {

    }
    // .about__title
    &__title {
        font-size: 34px;
        padding-bottom: 22px;
        position: relative;
        margin-bottom: 21px;
        &::after{
            content: '';
            width: 60px;
            height: 5px;
            display: block;
            background-color: var(--accent-color);
            position: absolute;
            bottom:0px;
            right: calc(50% - 30px);
            border-radius: 40px;

        }

    }
    // .about__subtitle
    &__subtitle {
        margin-bottom: 30px;
    }
    // .about__text
    &__text {
    }
    // .about__img
    &__img {
        align-self: flex-start;
        padding-left: 20px;
        img{
            box-shadow: 10px 10px 19px 0px rgba(34, 60, 80, 0.18);
        }

    }
}





/*-------------------------------/About-------------------------------*/


/*-------------------------------Master-------------------------------*/

.special {
    // .master__container
    margin-bottom: 100px;
    height: 675px;
    
    &__container {
        //background: url("../img/specialty\'s-bg.png") no-repeat;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:80px;
        padding: 100px 0px;
        justify-items: end;
        position: relative;
    }
    // .master__content
    &__content {
        right: 0px;
    }
    // .master__title
    &__title {
        font-size: 34px;
        padding-bottom: 22px;
        position: relative;
        margin-bottom: 21px;
        color: #fff;
        &::after{
            content: '';
            width: 60px;
            height: 5px;
            display: block;
            background-color: var(--accent-color);
            position: absolute;
            bottom:0px;
            right: calc(50% - 30px);
            border-radius: 40px;
        }
    }
    // .master__subtitle
    &__subtitle {
        color: #fff;
        margin-bottom: 30px;
    }
    // .master__text
    &__text {
        color: #fff;
    }
    // .master__img
    &__img {
        img{
            box-shadow: 10px 10px 19px 0px rgba(34, 60, 80, 0.18);
        }
    }
}

.master-bg{
    background: url("../img/specialty\'s-bg.png") ;
}
.dish-bg{
   background: url("../img/dish-bg.png");
}
/*-------------------------------/Master-------------------------------*/

/*-------------------------------Book-------------------------------*/

.book {
    margin-bottom: 100px;
    height: 675px;
    // .book__form
    &__form {

        
    }

}

.book-form {
    // .book-form__list
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    //padding-left: 54px;
    input{
        width: 277px;
        height: 50px;
        border-radius: 5px;
        background-color: var(--form-color);
        border:none;
        padding-left: 20px;
        outline: none;
        color: rgba(51, 51, 51, 0.5);
        &:focus,-active{
            border: 1px solid rgba(176, 198, 225, 0.6);
            box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
        }
    }
    
    &__list {
    }
    // .book-form__btn
    &__btn {
        background-color: var(--accent-color);
        padding: 21px;
        grid-column: span 2;
    }
    
}

.select {
    // .select__wrapper
    &__wrapper {
    }
}
.dropdown {
    // .dropdown__button
    position: relative;
    &__button {
        cursor: pointer;
        display: block;
        width: 100%;
        border-radius: 5px;
        background-color: var(--form-color);
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: rgba(51, 51, 51, 0.5);
        border: none;
        text-align: left;
        padding-left: 20px;
        padding-right: 57px;
        height: 50px;

        &::after{
            content:"";
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%); /*чтобы подвинуть на половину высоты стрелки*/
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10.4px 6px 0 6px;
            border-color: #8c8c8c transparent transparent transparent;
            pointer-events: none;
        }

        &:focus,-active{
            border: 1px solid rgba(176, 198, 225, 0.6);
            box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
        }
        &-choose{
            background-color: rgb(232, 240, 254);
            color: black;
        }
    }
    // .dropdown__list
    &__list {
        background-color: var(--form-color);
        display: none;
        margin: 0;
        padding: 0;
        list-style-type: none;
        box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
        border: 1px solid rgba(176, 198, 225, 0.6);
        overflow: hidden; /*чтобы контент не выходил за его пределы*/
        border-radius: 5px;
        width: 100%;
        position: absolute;
        top: 58px;
        left:0;
        z-index: 4; /*чтобы был выше остальных элементов*/
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        &-visible{
            display: block
        }
    }
    // .dropdown__list-item
    &__list-item {
        margin: 5px auto;
        cursor: pointer;
        &:hover{
            background-color: rgb(120, 117, 117, 0.20);
        }
    }
    // .dropdown__input-hidden
    &__input-hidden {
        display: none;
    }
}




/*-------------------------------/Book-------------------------------*/


/*-------------------------------Menu-------------------------------*/

.menu {
    // .menu__container
    margin-bottom: 100px;
    &__container {
    }
    // .menu__title
    &__title {
        font-size: 36px;
        text-align: center;
        margin-bottom: 50px;
    }
    // .menu__subtitle
    &__subtitle {
        font-size: 18px;
        text-align: center;
        max-width: 565px;
        margin:0px auto 50px auto;
    }
}

.tabs-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    // .tabs-nav__item
    &__item {
        cursor: pointer;
        font-weight: 700;
        font-size: 12px;
        width: 50px;
        width: 130px;
        text-align:center;
        &:not(:last-child){
            border-right: 1px solid rgba(51, 51, 51, 0.2);
        }
    }

}

.tab {
    grid-template-columns: repeat(3,1fr);
    gap: 0px 87px;
    display: none;
    &-active{
        display: grid;
    }
}
.tab-1 {
}
.menuPos {
    display: flex;
    align-items: start;
    height: 66px;
    width:363px;
    gap: 20px;
    // .menuPos__dish
    &__dish {
    }
    // .menuPos__name
    &__name {
        font-family: 'Banny';
        font-weight: 700;
        font-size: 18px;
        text-align: left;
        text-transform: uppercase;
    }
    // .menuPos__desc
    &__desc {
        font-weight: 400;
        font-size: 12px;
        color: rgba(51, 51, 51, 0.5);
        text-align: left;
    }
    // .menuPos__price
    &__price {
        font-family: 'Banny';
        font-weight: 700;
        font-size: 18px;
    }
}
